/* Global document styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
h1 {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.5rem;
}
p {
  display: block;
  font-size: 0.8rem;
}
input {
  width: 100%;
  height: 1.6em;
  border: 0;
  border-radius: 3px;
  text-align: center;
}
input::placeholder {
  color: rgb(60, 60, 60);
  opacity: 1; 
}

/* Define color variables */
:root {
  /* background colors for changes */
  --main-color: #F77E6E;
  --welcome-color: #C4567F;
  --projects-dark: #1C346A;
  --about-contact: #794381;

  /* Text colors for changes */
  --text-color: #ffffff;
  --text-welcome: #ffffff;
  --text-projects: #ffffff;
  --text-about: #ffffff;
  --text-main-contrast: #000000; /* For buttons on main color */
  
}


/* Navigation styles */
#navbar {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  background-color: var(--main-color);
  margin: 0;
  width: 100%;
  height: 80px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 30px;
}
.nav-list li {
  display: inline-block;
  margin-left: 30px;
}
/* link Initial state */
.nav-list a {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
/* link Hover state */
.nav-list a:hover {
  transform: scale(1.16);
  cursor: pointer;
}


/* Welcome section styles */ 
#welcome-section {
  background-color: var(--welcome-color);
  color: var(--text-welcome); 
  /* Uses specific variable */
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 700px;
}
.input-container {
  display: block;
  margin: 20px;
  text-align: center;
}


#color-button {
  background-color: var(--main-color);
  color: var(--text-color);
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
}
.btn-submit {
  border: none;
  cursor: pointer;
}
/* Buttons (using main color) */
.btn-submit {
  background-color: var(--main-color);
  color: var(--text-main-contrast); 
}

/* Projects section styles */
#projects {
  background-color: var(--projects-dark);
  color: var(--text-projects); 
  /* Uses specific variable */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: fit-content;
  padding: 8vh 0;
}
#projects h3 {
  color: var(--text-color);
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  height: 80vh;
}
.flex-container a, p {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
.project-tile {
  display: inline-block;
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  width: 26vw;
  height: 22vh;
}


.project-image {
  width: auto;
  height: 26vw;
  object-fit: cover;
}




.button-container {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  padding: 0.8rem;
  margin-top: 3vh;
}
.button-container a {
  color: var(--text-color);
  text-decoration: none;
}


/* About & Contact Sections */
.about-section {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 30px;
  font-size: 1.2rem;
}
#about, #contact {
background-color: var(--about-contact);
  color: var(--text-about); 
  /* Uses specific variable */
}
#about p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  display: block;
  width: 56vw;
  height: fit-content;
  text-align: left;
  margin: 1vh auto;
}

#contact {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 30px;
  font-size: 1.2rem;
}

.contacts-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.contacts-container a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

h1.cotact-heading {
  font-size: 2rem;
  margin-bottom: 10px;
}

h3.cotact-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
  color: var(--text-color);
}
.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}


/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .project-tile {
    display: block;
    width: 90%;
    height: 50vw;
    margin: 20px;
  }
  .flex-container {
  flex-flow: column;
  flex-direction: column-reverse;
  }
  #projects {
    padding: 30px 0;
  }
}
