 
 /* Global document styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Header styles and navigation */
header {
  background-color: #F77E6E;
  margin: 0;
  width: 100%;
  height: 80px;
  position: fixed;
 }

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 30px;
}

li {
  display: inline-block;
  margin-left: 20px;
}


/* Link styles */
a {
  color: #ffffff;
  text-decoration: none;
}

a:active {}

a:hover {}

a:visited {}



/* Welcome section styles */ 
.welcome-section {
  background-color: #C4567F;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 600px;
  color: #ffffff;
}

.input-container {
  display: block;
  margin: 20px;
  text-align: center;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  display: block;
  font-size: 0.8rem;
}

input {
  width: 100%;
  border: 1px solid #ffffff;
  color: #1C346A;
  text-align: center;
}

#color-button {
  background-color: #F77E6E;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
}


/* Projects section styles */
.projects-section {
  background-color: #1C346A;
  display: grid;
  grid-template: 100px 1fr 1fr / 1fr;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: auto;
  padding: 20px;
}
  
h3 {
  font-size: 1.5rem;
  margin: 20px;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-item {
  display: inline-block;
  width: 20vw;
  height: 26vw;
  margin: 20px;
  background-color: #FFB85F;
}

.all-button {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  height: 40px;
}
#all-projects {
  background-color: #F77E6E;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
}

/* About Me section styles */
.about-section {
  background-color: #794381;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 50px;
  font-size: 1.2rem;
}
 
.contacts {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  background-color: #F77E6E;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
