 
 /* Global document styles */

/* Header styles and navigation */
header {
  background-color: rgb(250, 203, 101);
  border-radius: 6px;
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(98, 104, 116);
  margin: 0;
  width: 100%;
  height: 80px;
 }

nav {
  display: flex;
  justify-content: start;
 }

ul {
    list-style-type: none;
}

li {

} 

/* Link styles */
a {

}

a:active {}

a:hover {}

a:visited {}



/* Main section styles */
main {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 800px;
}
  

h1 {

}

p {

}
 
/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(64, 64, 71);

}
