/* Global document styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Navigation styles */
#navbar {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  background-color: #F77E6E;
  margin: 0;
  width: 100%;
  height: 80px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 30px;
}
li {
  display: inline-block;
  margin-left: 30px;
}
/* Initial state */
.nav-list a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
/* Hover state */
.nav-list a:hover {
  transform: scale(1.16);
  cursor: pointer;
}




/* Welcome section styles */ 
#welcome-section {
  background-color: #C4567F;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100vw;
  color: #ffffff;
}

.input-container {
  display: block;
  margin: 20px;
  text-align: center;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  display: block;
  font-size: 0.8rem;
}

input {
  width: 100%;
  border: 1px solid #ffffff;
  color: #1C346A;
  text-align: center;
}

#color-button {
  background-color: #F77E6E;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
}


/* Projects section styles */
.project-image {
  width: auto;
  height: 26vw;
  object-fit: cover;
}

#projects {
  background-color: #1C346A;
  display: grid;
  grid-template: 100px 1fr 1fr / 1fr;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: auto;
  padding: 20px;
}
  
h3 {
  font-size: 1.5rem;
  margin: 20px;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-tile {
  display: inline-block;
  width: 20vw;
  height: 26vw;
  margin: 20px;
  background-color: #FFB85F;
  cursor: pointer;
}

.all-button {
  display: block;
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
  background-color: #F77E6E;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 0.8rem;
}
#profile-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
}

/* About Me section styles */
.about-section {
  background-color: #794381;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 50px;
  font-size: 1.2rem;
}
 
.contacts {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

h1.cotact-heading {
  font-size: 2rem;
  margin-bottom: 10px;
}

h3.cotact-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  background-color: #F77E6E;
  color: #ffffff;
}
.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}


/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .project-tile {
    display: block;
    width: 40vw;
    height: auto;
  }
  .flex-container {
  flex-flow: column;
}
}
