 
 /* Global document styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  font-size: 16px;
}


/* Header styles and navigation */
header {
  background-color: #F77E6E;
  margin: 0;
  width: 100%;
  height: 60px;
 }

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 30px;
}

li {
  display: inline-block;
  margin-left: 20px;
}


/* Link styles */
a {
  color: #ffffff;
  text-decoration: none;
}

a:active {}

a:hover {}

a:visited {}



/* Welcome section styles */
main {
  width: 100%;
  height: 800px;
}
 
.welcome-section {
  background-color: #C4567F;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 400px;
  color: #ffffff;
}

.input-container {
  display: block;
  margin: 20px;
  text-align: center;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  display: block;
  font-size: 0.8rem;
}

input {
  width: 100%;
  border: 1px solid #ffffff;
  color: #1C346A;
}

#color-button {
  background-color: #F77E6E;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
}


/* Projects section styles */

.projects-section {
  background-color: rgb(72, 70, 75);
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(98, 104, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
  
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

 
/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(64, 64, 71);

}
