/* Global document styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Define color variables */
:root {
  --main-color: #F77E6E;
  --welcome-color: #C4567F;
  --projects-dark: #1C346A;
  --about-contact: #794381;
  --text-color: #ffffff;
  --alt-contrast: #FFB85F;

}

/* Navigation styles */
#navbar {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  background-color: var(--main-color);
  margin: 0;
  width: 100%;
  height: 80px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 30px;
}
li {
  display: inline-block;
  margin-left: 30px;
}
/* link Initial state */
.nav-list a {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
/* link Hover state */
.nav-list a:hover {
  transform: scale(1.16);
  cursor: pointer;
}




/* Welcome section styles */ 
#welcome-section {
  background-color: var(--welcome-color);
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 700px;
  color: var(--text-color);
}

.input-container {
  display: block;
  margin: 20px;
  text-align: center;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  display: block;
  font-size: 0.8rem;
}

input {
  width: 100%;
  height: 1.6em;
  border: 0;
  border-radius: 3px;
  text-align: center;
}
input::placeholder {
  color: var(--about-contact);
  opacity: 1; 
}

#color-button {
  background-color: var(--main-color);
  color: var(--text-color);
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
}


/* Projects section styles */
.project-image {
  width: auto;
  height: 26vw;
  object-fit: cover;
}

#projects {
  background-color: var(--projects-dark);
  display: grid;
  grid-template: 100px 1fr 1fr / 1fr;
  text-align: center;
  color: var(--text-color);
  width: 100%;
  height: auto;
  padding: 20px;
}
  
h3 {
  font-size: 1.5rem;
  margin: 20px;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-tile {
  display: inline-block;
  width: 20vw;
  height: 26vw;
  margin: 20px;
  background-color: var(--alt-contrast);
  cursor: pointer;
}

.all-button {
  display: block;
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  background-color: var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  padding: 0.8rem;
}
.all-button a {
  color: var(--text-color);
  text-decoration: none;
}


/* About Me section styles */
.about-section {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: #794381;
  color: var(--text-color);
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 30px;
  font-size: 1.2rem;
}
/* Contacts section styles */
#contact {
  display: flex;
  background-color: #794381;
  justify-content: center;
  flex-flow: column;
  color: var(--text-color);
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 30px;
  font-size: 1.2rem;
}

.contacts-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.contacts-container a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

h1.cotact-heading {
  font-size: 2rem;
  margin-bottom: 10px;
}

h3.cotact-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
  color: var(--text-color);
}
.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}


/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .project-tile {
    display: block;
    width: 40vw;
    height: auto;
  }
  .flex-container {
  flex-flow: column;
}
}
