 
 /* Global document styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
}


/* Header styles and navigation */
header {
  background-color: rgba(201, 201, 201, 0.9);
  margin: 0;
  width: 100%;
  height: 80px;
 }

ul.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
}

li {
  display: inline-block;
}


/* Link styles */
a:active {
   color: rgb(9, 35, 89);
 }

a {

}

a:active {}

a:hover {}

a:visited {}



/* Main section styles */
main {
  background-color: rgb(145, 151, 162);
  width: 100%;
  height: 800px;
}
 
.welcome-section {
  background-color: rgb(100, 100, 108);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
 
.projects-section {
  background-color: rgb(72, 70, 75);
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(98, 104, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
  
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

h1 {
  display: block;
}

p {

}

 
/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(64, 64, 71);

}
