 
 /* Global document styles */

/* Header styles and navigation */
header {

 }

nav {

 }

ul {
    list-style-type: none;
}

li {

} 

/* Link styles */
a {

}

a:active {}

a:hover {}

a:visited {}



/* Main section styles */
main {

}
  

h1 {

}

p {

}
 
/* Footer styles */
footer {

}
